<div onloadstart="demo.showNotification('bottom','right','Comment added')">
    
    <h4>Comments: {{ comment.gallery.comments.count }}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4>{{ comment.user.username }}</h4>
                <h5>{{ comment.comment }}</h5>
                <p>{{ comment.created_at }}</p>
                {% if comment.user == request.user %}
                    <button class="btn btn-danger col-md-2" hx-delete="{% url 'gallery:delete_comment' slug=comment.gallery.slug pk=comment.id %}" hx-target="closest div" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' onclick="demo.showNotification('bottom','right','Comment successfully deleted')">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>