<div>
    <h4>Likes: {{ gallery.likes.count }} </h4>
    {% if not is_liked %}
        <button class="btn btn-success" name="like" hx-post="{% url 'gallery:like' slug=gallery.slug %}" hx-target="closest div" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        onclick="demo.showNotification('bottom','right','Gallery liked')">Like</button>
    {% else %}
        <button class="btn btn-danger" name="like" hx-delete="{% url 'gallery:like' slug=gallery.slug %}" hx-target="closest div" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        onclick="demo.showNotification('bottom','right','Gallery like removed')">Unlike</button>
    {% endif %}
</div>