{% extends 'pages/dashboard.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="row">
            {% if galleries %}
                {% for gallery in galleries %}
                    <div class="col-md-4">
                        <div class="card">
                            {% if gallery.cover %}
                                <img src="{{ gallery.cover.url }}" class="card-img-top img-thumbnail" alt="{{ gallery.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ gallery.title }}</h4>
                                <p class="card-text">{{ gallery.description }}</p>
                                <a href="{% url 'gallery:detail' slug=gallery.slug %}" class="btn btn-primary">View Gallery</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h3>There are no galleries yet :(</h3>
                </div>
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Create Gallery</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group" hx-swap="outerHTML">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" class="form-control">
                            </div>
                            <div class="form-group" hx-swap="outerHTML">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control"></textarea>
                            </div>
                            <div hx-swap="outerHTML">
                                <label for="cover">Cover</label>
                                <input type="file" name="cover" id="cover" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Create Gallery</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}